--------------------------------Project 2: Diabetes Prediction BY using Support Vector Machine ---------------------------------------

In [75]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [78]:
data = pd.read_csv(r"C:\Users\ma516\OneDrive\Desktop\diabetes.csv")

In [79]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [80]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [81]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [82]:
data["Outcome"].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

0 ---> Non-Diabetic                                                                                                                                    
1 ---> Diabetic

Data  Standardization

In [83]:
x = data.drop(columns= "Outcome" )
y = data["Outcome"]

In [84]:
print(x)
print(y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [85]:
ss = StandardScaler()

In [86]:
X =  ss.fit_transform(x)

In [87]:
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [88]:
x_train , x_test , y_train , y_test  = train_test_split(X , y , random_state= 2 ,test_size=0.2 , stratify=y )

In [89]:
print(x_train.shape , x_test.shape , y_train.shape , y_test.shape)

(614, 8) (154, 8) (614,) (154,)

Training The Data

Model Evalution

In [90]:
model  = svm.SVC(kernel = "linear" )
Trained_model = model.fit(x_train , y_train)

Accuracy Score of Trained Data

In [91]:
Trained_model_predict = model.predict(x_train)
accuracy_score_of_trained_model = accuracy_score(Trained_model_predict , y_train)

In [92]:
print("The Accuracy Score of Training Data :" , accuracy_score_of_trained_model)

The Accuracy Score of Training Data : 0.7866449511400652

Accuracy Score of Testing Data

In [93]:
Test_model_predict = model.predict(x_test)
accuracy_score_of_testing_data = accuracy_score(Test_model_predict , y_test)

In [94]:
print("the accracy score of testing data is :" , accuracy_score_of_testing_data)

the accracy score of testing data is : 0.7727272727272727

Final Result

In [96]:
input_data = (1,85,66,29,0,26.6,0.351,31)
#  input data convert to numpy array
input_data_array = np.asarray(input_data)
#  reshaping the input data
reshaped_data  =  input_data_array.reshape(1,-1)
#standardize the input data
input_data_standardize = ss.transform(reshaped_data)
print(input_data_standardize)
#  predict our data
prediction = model.predict(input_data_standardize)
print(prediction)

if (prediction[0] == 0):
    print("person is Non_Diabetic")
else:
    print("Person is Diabetic")

[[-0.84488505 -1.12339636 -0.16054575  0.53090156 -0.69289057 -0.68442195
  -0.36506078 -0.19067191]]
[0]
person is Non_Diabetic

C:\Users\ma516\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [111]:
import pickle

In [112]:
file_name = "trained_model.sav"
pickle.dump(model , open(file_name , 'wb'))

In [113]:
# load the dataset
loaded_model  = pickle.load(open("trained_model.sav" , "rb"))

In [115]:
input_data = (1,85,66,29,0,26.6,0.351,31)
#  input data convert to numpy array
input_data_array = np.asarray(input_data)
#  reshaping the input data
reshaped_data  =  input_data_array.reshape(1,-1)

#  predict our data
prediction = loaded_model.predict(reshaped_data)
print(prediction)

if (prediction[0] == 0):
    print("person is Non_Diabetic")
else:
    print("Person is Diabetic")

[1]
Person is Diabetic