------------------------------------------------Medical Insurance Cost Prediction App---------------------------------------------------------

In [181]:
#----------------------------------------------------import Libraries-------------------------------------------------------------------
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import  r2_score
from sklearn.preprocessing import StandardScaler

In [182]:
data  = pd.read_csv(r"C:\Users\ma516\Downloads\insurance.csv")

In [183]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [184]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [185]:
# -----------------
# encoding our data
# -----------------

In [186]:
data.replace({"sex": {"male": 0, "female": 1}}, inplace=True)
data.replace({"smoker": {"yes": 0, "no": 1}}, inplace=True)
data.replace({'region': {'southeast': 0, 'southwest': 1, 'northeast': 2, 'northwest': 3}}, inplace=True)

data = data.infer_objects(copy=False)

C:\Users\ma516\AppData\Local\Temp\ipykernel_19372\2444003651.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace({"sex": {"male": 0, "female": 1}}, inplace=True)
C:\Users\ma516\AppData\Local\Temp\ipykernel_19372\2444003651.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace({"smoker": {"yes": 0, "no": 1}}, inplace=True)
C:\Users\ma516\AppData\Local\Temp\ipykernel_19372\2444003651.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.replace({'region': {'southeast': 0, 'southwest': 1, 'northeast': 2, 'northwest': 3}}, inplace=True)

In [187]:
print(data)

      age  sex     bmi  children  smoker  region      charges
0      19    1  27.900         0       0       1  16884.92400
1      18    0  33.770         1       1       0   1725.55230
2      28    0  33.000         3       1       0   4449.46200
3      33    0  22.705         0       1       3  21984.47061
4      32    0  28.880         0       1       3   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       1       3  10600.54830
1334   18    1  31.920         0       1       2   2205.98080
1335   18    1  36.850         0       1       0   1629.83350
1336   21    1  25.800         0       1       1   2007.94500
1337   61    1  29.070         0       0       3  29141.36030

[1338 rows x 7 columns]

In [188]:
# ----------------------------
# Find the value of x and y
# ----------------------------

In [189]:
x = data.drop(columns="charges" , axis = 1)
y = data["charges"]

In [190]:
print(x)
print(y)

      age  sex     bmi  children  smoker  region
0      19    1  27.900         0       0       1
1      18    0  33.770         1       1       0
2      28    0  33.000         3       1       0
3      33    0  22.705         0       1       3
4      32    0  28.880         0       1       3
...   ...  ...     ...       ...     ...     ...
1333   50    0  30.970         3       1       3
1334   18    1  31.920         0       1       2
1335   18    1  36.850         0       1       0
1336   21    1  25.800         0       1       1
1337   61    1  29.070         0       0       3

[1338 rows x 6 columns]
0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [191]:
#--------------------------------------------------------------Train Our Data ----------------------------------------
x_train ,x_test , y_train , y_test  =  train_test_split(x , y , test_size= 0.2 ,random_state=2)
print(x_train.shape , y_train.shape , x_test.shape , y_test.shape)

(1070, 6) (1070,) (268, 6) (268,)

In [192]:
# ----------------------------
# Find the accuracy Score
# ----------------------------

In [193]:
#---------------------------------------------------Trained Model --------------------------------------------------------------------
model = LinearRegression()
fitted_data = model.fit(x_train , y_train)

In [194]:
trained_data_1= model.predict(x_train)
accuracy_score_of_trained_data  =  r2_score(y_train , trained_data_1)

In [195]:
print("accuracy_score_of_trained_data : " , accuracy_score_of_trained_data)

accuracy_score_of_trained_data :  0.751505643411174

In [196]:
trained_data_2= model.predict(x_test)
accuracy_score_of_test_data  =  r2_score(y_test , trained_data_2)

In [197]:
print("accuracy_score_of_test_data : " , accuracy_score_of_test_data)

accuracy_score_of_test_data :  0.7447273869684077

In [198]:
input_data = (21,1,25.800 ,0, 1 , 1)
array_data = np.asarray(input_data)
reshaped_data = array_data.reshape(1,-1)
prediction =  model.predict(reshaped_data)
print(prediction)

[1478.09056648]

C:\Users\ma516\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [199]:
import pickle

In [200]:
file_name = "Model.sav"
pickle.dump(model , open(file_name , 'wb'))

In [201]:
loaded_model  = pickle.load(open("Model.sav" , "rb"))

In [202]:
input_data = (21,1,25.800 ,0, 1 , 1)
array_data = np.asarray(input_data)
reshaped_data = array_data.reshape(1,-1)
prediction =  loaded_model.predict(reshaped_data)
print(prediction)

[1478.09056648]

C:\Users\ma516\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(